body{

    background: url("../img/background.png");

}

.Madeira{
 
    width: 1357px;
    height: 760px;
    background:url("../img/RAW-jpg.jpg");
    position: absolute;
    left: 15%;
    top: 5%; 
 
}