#conteudo{

margin: 250px 0px 0px 400px;


}

header section article #Numbers{
  
  margin: 0px 0px 0px -90px;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 200px;
  color:white;

}

#conteudo #GoBack {

  padding: 0px 0px 0px 0px;
  margin: 25px 0px 0px 45px;
  text-transform: uppercase;
  font-size: 19px;
  color: white;
  font-weight: bold;

}

#Oops{

  margin: 25px 0px 0px -30px;
  font-size: 20px;
  color: white;

}

#text{

  margin: 15px 0px 0px -7px;


}